<a href="https://colab.research.google.com/github/nandinib1999/edureka-assignments/blob/main/Edureka_NLP_Assignment_2_Part_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Question 1

In [1]:
import os

print(os.getcwd())

/content

In [9]:
!mkdir "Text Mining and NLP"

mkdir: cannot create directory ‘Text Mining and NLP’: File exists

In [11]:
cd "Text Mining and NLP"

/content/Text Mining and NLP

In [12]:
print(os.getcwd())

/content/Text Mining and NLP

#### Question 2

In [29]:
with open("/content/Greetings.txt", "w") as fhead:
  fhead.write("Welcome to Text Mining and Natural Language Processing")

In [30]:
import shutil
source = "/content/Greetings.txt"
dest = shutil.move(source, os.getcwd())
dest

'/content/Text Mining and NLP/Greetings.txt'

In [31]:
os.listdir(os.getcwd())

['Greetings.txt', 'NLP.docx', '.ipynb_checkpoints', 'EmployeeDetails.csv']

In [32]:
os.rename("/content/Text Mining and NLP/Greetings.txt", "/content/Text Mining and NLP/Welcome.txt")

In [33]:
os.listdir(os.getcwd())

['Welcome.txt', 'NLP.docx', '.ipynb_checkpoints', 'EmployeeDetails.csv']

#### Question 3

In [22]:
!pip install python-docx

Collecting python-docx
  Downloading https://files.pythonhosted.org/packages/8b/a0/52729ce4aa026f31b74cc877be1d11e4ddeaa361dc7aebec148171644b33/python-docx-0.8.11.tar.gz (5.6MB)
     |████████████████████████████████| 5.6MB 5.4MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx) (4.2.6)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-cp37-none-any.whl size=184508 sha256=5768ebe5c37bc92673e02a36dfa361a76d26f0cf58714eefba010678d74b48a8
  Stored in directory: /root/.cache/pip/wheels/a6/90/f1/a7cb70b38633ae04e7fb963b1c70f63fd6fc01c075b8230adc
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.11

In [23]:
from docx import Document

In [41]:
document = Document("/content/Text Mining and NLP/NLP.docx")
print("Number of paragraphs:", len(document.paragraphs))

Number of paragraphs: 26

In [42]:
for i, paragraph in enumerate(document.paragraphs, start=1):
  txt = paragraph.text
  txt = txt.lower()
  txt_lst = txt.split(" ")
  print(txt)
  print("Paragraph ", i, "Word Count ", len(txt_lst))

to the outside observer, natural language processing (nlp) may seem futuristic.  a third of smartphone owners use their personal assistants regularly (a hallmark of nlp technologies), even though 95 percent have tried them at some point, according to creative strategies, a consultancy. however, natural language processing advances continue in leaps and bounds, as digital neural networks (dnn) and machine learning become more intricate. both technologies enhance nlp technologies up to 30 percent.
Paragraph  1 Word Count  71
the economist states, that this paradigm has shifted language technology from usable at a pinch to really rather good”. so, when barclays, a british bank, offered an identification using a user’s voice and nlp, 84 percent of the users signed up within five months, indicating that consumers are jumping on the bandwagon and wanting more benefits from nlp.
Paragraph  2 Word Count  56
natural language processing (nlp) has entered the mainstream and integrates with big data. take the business traveler. today, when he or she stays at a hotel, like , the customer can bypass the front desk when getting extra towels or ordering room service. thanks to amazon’s echo and its use of nlp, a hotel concierge may no longer be necessary. in this new world, big data flows in the form of speech, a loop between hotel guest and computer all the guests have access to this technology.  wynn las vegas has already added amazon echo devices to each of its 4,748 hotel rooms. as consumers become more familiar with nlp and its time savings benefits, they will be more likely to adopt natural language processing in the home and office, for other tasks.
Paragraph  3 Word Count  132
what does nlp mean for big data? nlp will change everything, from business reporting and data analytics/synthesis to security and data governance. the future has arrived.
Paragraph  4 Word Count  26
what is natural language processing (nlp)
Paragraph  5 Word Count  6
 combines artificial intelligence (ai) and computational linguistics so that computers and humans can talk seamlessly. think the bridge in star trek, where the crew and space ship’s computer talk with each other to explore and survive. nlp endeavors to bridge the divide between machines and people by enabling a computer to analyze what a user said (input speech recognition) and process what the user meant. this task has proven quite complex.
Paragraph  6 Word Count  68
to converse with humans, a program must understand syntax (grammar), semantics (word meaning), morphology (tense), pragmatics (conversation). the number of rules to track can seem overwhelming and explains why earlier attempts at nlp initially led to disappointing results.
Paragraph  7 Word Count  38
 wrote that both the funders and eager researchers had often fooled themselves, and that “no simple, clear, sure knowledge is gained.” after that, funding and interest in language technology went into hibernation for two decades. thanks to charles wayne, at america’s defense advanced research projects agency during the 1980s, reframed the human computer linguistic problem through another approach, the “common task”.
Paragraph  8 Word Count  61
with a different system in place, nlp slowly improved moving from a cumbersome-rules based to a pattern learning based computer programming methodology. siri appeared on the iphone in 2011. in 2012, the new discovery of use of graphical processing units (gpu) improved digital neural networks and nlp.
Paragraph  9 Word Count  47
now google has released its own neural-net-based engine for eight language pairs, closing much of the quality gap between its old system and a human translator and fueling increasing interest in the technology. computers today can already produce an eerie echo of human language if fed with the appropriate material.
Paragraph  10 Word Count  50
using nlp to communicate and summarize complex big data
Paragraph  11 Word Count  9
business managers have a big data problem. they  and spreadsheets drowning in too much data and trying to compile it all together into meaningful information. arria, a company based in london, has come up with a solution.  a form of artificial intelligence, specialized in communicating information which is extracted from complex data sources in natural language (i.e. as if written by a human).
Paragraph  12 Word Count  61
it literally takes an organization’s data and transforms it into language, not standard computer-generated text that is overly technical and difficult to read, but natural human language that reads like a literate and well-educated person wrote it.
Paragraph  13 Word Count  37
arria’s software can turn a spreadsheet full of data, that is dragged and dropped automatically into a written description of the contents, complete with trends, essentially providing business reports. the arria nlg platform has achieved this through two main elements: an analytics component that is programmed to embody the expert knowledge of the domain in which it operates; and, a natural language generation component, which embodies the skill required to communicate information articulately using natural language.
Paragraph  14 Word Count  74
in , aria announced the private beta launch of articulator lite, a cloud-based toolkit that allows users to build their own applications that create content from data. what does this mean? matt gould, arria’s chief strategy officer, likes to think arria will free chief financial officers from having to write up the same old routine analyses for the board, giving them time to develop more creative approaches. now computers allow an enterprise to analyze all that information and present it back to whatever human needs it, for whatever reason, in actual written or natural language.
Paragraph  15 Word Count  92
using nlp to turn language into useful data
Paragraph  16 Word Count  8
 technology built on 200 million text pages, encyclopedias, dictionaries, thesauri, taxonomies, ontologies, and other databases has gained traction. ai has helped data-rich companies such as america’s west-coast tech giants organize much of the world’s information into interactive databases such as google’s knowledge graph.
Paragraph  17 Word Count  43
, a silicon valley startup, answers questions phrased in natural language about a company’s business data. if a user wants to know which online ads resulted in the most sales in california last month, the software automatically translates the typed question into a database query. however, behind the scenes, a human working for datalingvo, vets the query to correct mis-interpretations by the computer. now nlp enthusiasts have a drive to develop a smarter software application than google, perhaps one that better understands the context of a user’s question (e.g. knows that a person is a student needing information for a report vs a field expert).
Paragraph  18 Word Count  104
natural language processing has much promise in data security as well.  cognitive phishing detection capability uses machine learning to help businesses detect a phishing site up to 250 percent faster than traditional methods.
Paragraph  19 Word Count  32
in addition, watson for cyber security recently launched by ibm, uses natural language processing to gain insights from security documents, aiding cyber security in organizations. , uses around 200 parameters to identifying a speaker, providing access. the software is probably more secure than a fingerprint, says brett beranek, a senior manager at the company.
Paragraph  20 Word Count  53
with nlp advances in security, consumers will pay by the sound of their voices. alipay, a ubiquitous mobile payments service in china uses a chatbot system, adept at deep learning and created by ant, to carry on conversations and provide answers. with cutting-edge advances in nlp, data security in the financial industry will continue to see substantial changes ahead.
Paragraph  21 Word Count  58
natural language processing and the future
Paragraph  22 Word Count  6
advancements in nlp have implications in data governance.  copious amounts of data from users, raising important legal issues about data ownership, privacy, and security. will take over more control of what we see and do, but big brother isn’t the government, it’s the big tech corporations: google, microsoft, facebook, amazon, and others. governments, to be effective, will need to develop new regulations around how data gathered and disseminated through nlp. especially where nlp will be tied to financial gain.
Paragraph  23 Word Count  77
an  is already piloting nlp  (in combination with rpa) to digitize its sourcing approach for its long-tail spend – the long list of small purchases that together may account for only a few percentage points of the budget. it uses using natural language processing to interpret free-form text and match order requirements to groups of suppliers, cuing the procurement robot to compare bids and make a purchase. this could change business across a multiple of industries. organizations around the world will need to be ready to benefit from nlp’s presence.
Paragraph  24 Word Count  89
nlp technology will continue to gain momentum. if you get into a car accident  in the near future, you’ll be able to pull out your smartphone, take a photo, and file an insurance claim with an ai system. mit’s  develops data science methods, primarily based on natural language processing, network science, and machine learning – towards mapping and analyzing social systems, enabling new forms of human networks for positive change.
Paragraph  25 Word Count  68
already the media lab’s cortico provides , advocacy and nonprofit organizations, and community influencers tools and programs to connect with their audiences on greater common ground. those with injuries or disabilities that make it hard to write will benefit and use machine translation based on nlp.  natural language processing has come to transform business and its impact will only increase.
Paragraph  26 Word Count  57

In [37]:
with open('/content/Text Mining and NLP/Welcome.txt') as fhead:
  text = fhead.read()

print(text)

Welcome to Text Mining and Natural Language Processing

In [44]:
doc = Document()
doc.add_paragraph(text)
for paragraph in document.paragraphs:
  doc.add_paragraph(paragraph.text)
doc.save('/content/Text Mining and NLP/NLP.docx')

In [46]:
document = Document("/content/Text Mining and NLP/NLP.docx")
print("Number of paragraphs:", len(document.paragraphs))
for i, paragraph in enumerate(document.paragraphs, start=1):
  txt = paragraph.text
  txt = txt.lower()
  txt_lst = txt.split(" ")
  print("Paragraph ", i, "Word Count ", len(txt_lst))

Number of paragraphs: 27
Paragraph  1 Word Count  8
Paragraph  2 Word Count  71
Paragraph  3 Word Count  56
Paragraph  4 Word Count  132
Paragraph  5 Word Count  26
Paragraph  6 Word Count  6
Paragraph  7 Word Count  68
Paragraph  8 Word Count  38
Paragraph  9 Word Count  61
Paragraph  10 Word Count  47
Paragraph  11 Word Count  50
Paragraph  12 Word Count  9
Paragraph  13 Word Count  61
Paragraph  14 Word Count  37
Paragraph  15 Word Count  74
Paragraph  16 Word Count  92
Paragraph  17 Word Count  8
Paragraph  18 Word Count  43
Paragraph  19 Word Count  104
Paragraph  20 Word Count  32
Paragraph  21 Word Count  53
Paragraph  22 Word Count  58
Paragraph  23 Word Count  6
Paragraph  24 Word Count  77
Paragraph  25 Word Count  89
Paragraph  26 Word Count  68
Paragraph  27 Word Count  57

#### Question 4

In [65]:
import pandas as pd

df = pd.read_csv("EmployeeDetails.csv")
print(df.shape)
df.head()

(6, 3)

             Name   Age  Salary
0     Arjun singh    24   10000
1       Vibhor Jha   26   25000
2  Yoshita Debnath   23   15000
3   Abhitesh Setia   25   18000
4    Shaurya Nayar   26   30000

In [66]:
df.columns

Index(['Name ', 'Age', 'Salary'], dtype='object')

In [67]:
df.rename({"Name ":"Name"}, axis=1, inplace=True)

In [68]:
df['First Name'] = df.Name.apply(lambda x: x.split(" ")[0])
df['Last Name'] = df.Name.apply(lambda x: x.split(" ")[1])

In [69]:
df

              Name  Age  Salary First Name Last Name
0     Arjun singh    24   10000      Arjun     singh
1       Vibhor Jha   26   25000     Vibhor       Jha
2  Yoshita Debnath   23   15000    Yoshita   Debnath
3   Abhitesh Setia   25   18000   Abhitesh     Setia
4    Shaurya Nayar   26   30000    Shaurya     Nayar
5      Disha Gupta   27   23000      Disha     Gupta

In [70]:
df.drop(['Name'], axis=1, inplace=True)
df

   Age  Salary First Name Last Name
0   24   10000      Arjun     singh
1   26   25000     Vibhor       Jha
2   23   15000    Yoshita   Debnath
3   25   18000   Abhitesh     Setia
4   26   30000    Shaurya     Nayar
5   27   23000      Disha     Gupta

In [71]:
df['Salary'] = df['Salary'] + (df['Salary']*0.1)
df.Salary = df.Salary.astype('int')
df

   Age  Salary First Name Last Name
0   24   11000      Arjun     singh
1   26   27500     Vibhor       Jha
2   23   16500    Yoshita   Debnath
3   25   19800   Abhitesh     Setia
4   26   33000    Shaurya     Nayar
5   27   25300      Disha     Gupta

In [72]:
df.to_csv('Employee_Data.csv', index=False)